.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-board {
  display: flex;
  justify-content: center;
}

.Column {
  padding: 1em;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Column--highlighted {
  border: 2px dashed cornflowerblue;
  opacity: 0.5;
}

.Card {
  margin: 0.5em;
  padding: 1em;
  background: cornflowerblue;
  color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 4px;
}

.Card-button {
  background: transparent;
  color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 2em;
}

.Card-button:hover {
  opacity: 0.8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
